    <!--======== intro =========-->
    <section class="intro">
      <div class="row">
        <div id="container" class="container">
          <div id="theTarget">
            <div style="background-image: url(assets/top/top_main_image.png)"></div>
            <div style="background-image: url(assets/top/image2.png)"></div>
            <div style="background-image: url(assets/top/image3.png)"></div>
          </div>
        </div>
      </div>
    </section>
    <!--======== end intro =========-->

    <!--======== What is =========-->
    <div id="whatis" class="content-section-b what-is" style="border-top: 0">
      <div class="container">

        <div class="what-is-title">
          <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>いらなくなった教科書を出品して、</h2>
            <h2>必要な教科書を格安で手に入れる、</h2>
            <h2>大学生の教科書フリマサービスです！</h2>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-3 text-center">
            <div class="what-is-icon">
              <i class="fa fa-book fa-4x" aria-hidden="true"></i>
            </div>
            <h3 class="what-is-h3">教科書を売れる！</h3>
            <p class="what-is-lead">本棚にねむっている教科書を出品すると、必要なニーズを持つユーザに譲れるマッチングシステム。もう教科書を捨てる必要はありません。</p>
          </div><!-- /.col-lg-3 -->

          <div class="col-sm-3 text-center">
            <div class="what-is-icon">
              <i class="fa fa-rocket fa-4x" aria-hidden="true"></i>
            </div>
            <h3 class="what-is-h3">取引もあっという間に！</h3>
            <p class="what-is-lead">購入してから直接文字を介した取引は必要ありません！お互いの日程を調整するフォームを設定するだけであとは指定された場所で直接取引するだけ！</p>
          </div><!-- /.col-lg-3 -->

          <div class="col-sm-3 text-center">
            <div class="what-is-icon">
              <i class="fa fa-lock fa-4x "> </i>
            </div>
             <h3 class="what-is-h3">安心の取引システム</h3>
            <p class="what-is-lead">ユーザ登録には大学のメールアドレスが必要となっている安心のシステム。取引を重ねる毎に蓄積されるユーザ評価から一定水準の安全を提供します。</p>
          </div><!-- /.col-lg-3 -->

          <div class="col-sm-3 text-center">
            <div class="what-is-icon">
              <i class="fa fa-thumbs-up fa-4x "> </i>
            </div>
             <h3 class="what-is-h3">今なら利用は完全無料！</h3>
            <p class="what-is-lead">一般的なフリマサービスにある、取引時の手数料もナシ！手元にあるねむっている教科書をすべて出品してみてください！きっとその本を必要としている人がいます！</p>
          </div><!-- /.col-lg-3 -->

        </div><!-- /.row -->

      </div>
    </div>
    <!--======== end What is =========-->

    <!-- Banner Download -->
    <div id="downloadlink" class="banner" style="background-image: url(assets/banner.png)">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2>いますぐ使ってみませんか？</h2>
          <p class="lead" style="margin-top:0">登録に必要なのは大学のメールアドレスと3分だけ！</p>
          <p><a class="btn banner-btn view" role="button">新規会員登録</a></p>
         </div>
        </div>
      </div>
    </div>