.exhibit-card {
  overflow: hidden;
  margin-bottom: 30px;
}

.exhibit-card-top {
  width: 256px;
  height: 256px;
  overflow: hidden;
  background-color: #888;
}

.exhibit-card-top img {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.exhibit-card-bottom {
  padding: 7px 15px;
  background-color: #FFFFFF;
  color: #000000;
}


.left-side-menu-sec {
  padding: 15px 0;
  background-color: #FFFFFF;
}

.left-side-menu {
  padding: 7px 15px;
}

.search-result-count-sec {
  padding: 12px 15px;
  color: #FFFFFF;
  background-color: #B7B7B7;
}

.search-result-count {
  margin-top: 10px;
  color: #ffffff;
}

.search-result-count span {
  font-size: 2em;
  margin: 5px 0;
  line-height: 1.2;
}

.breadcrumb-row {
  padding-top: 10px;
}
