.form-h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.form-h2-2 {
  margin-top: 10px;
}

.exit-form {
  margin-top: 70px;
}

.exit-form-child {
  padding-bottom: 40px;
}

.univ-info {
  padding: 0;
  padding-top: 10px;
}