    <footer>
      <div class="row">
        <div class="container">
          <div class="footer-nav">
            <nav class="">
              <a href="#">よくある質問</a>
              <a href="#">使い方</a>
              <a href="#">プライバシー</a>
              <a href="#">ご利用規約</a>
              <a href="#">運営会社</a>
              <a href="#">運営へのお問合せ</a>
            </nav>
            <div>
              <%= image_tag 'phimma-logo', :class => 'footer-logo' %>
              <p class="footer-copywrite">© 2016 PHIMMA!</p>
            </div>
          </div>
        </div>
      </div>
    </footer>